---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";
import Button from "@components/common/Button.astro";
import type { HomeEntry } from "@/types";
import { Image } from "astro:assets";
import Social from "@components/common/Social.astro";

interface Props {
  entry: HomeEntry;
}

const { entry } = Astro.props;
const { image, imageAlt, title, slogan, content, button } = entry.data;
---

<BaseLayout>
  <!-- Banner -->
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="glass rounded-lg text-center p-8 md:col-10 lg:col-7 intersect:animate-fadeUp opacity-0 intersect-no-queue">
          {
            image && (
              <div class="blur-[0px]">
                <Image
                class="mb-6 w-64"
                src={image}
                alt={imageAlt}
                width={1024}
                height={1024}
                loading="eager"
              />
              </div>
              
            )
          }
          <h1 set:html={markdownify(title)} class="mb-2" />
          <p set:html={markdownify(slogan)} class="mb-4 text-xl" />
          <p set:html={markdownify(content)} class="mb-8" />
          <div class="flex justify-center mt-8">
            <Social
              links={{
                email: "romancyber@pm.me",
                youtube: "https://youtu.be/YxIf6qLtNU4",
                linkedIn: "https://linkedin.com/in/rmanfe",
              }}
              containerClass="h-20 w-20"
              svgClass="w-10 h-10"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
